In [9]:
import selenium
from selenium import webdriver
import time
import requests
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.common.exceptions import NoSuchElementException
import re
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

In [6]:
from selenium.webdriver.common.by import By

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
driver=webdriver.Chrome(r"C:\Users\91790\Downloads\chromedriver_win32\chromedriver.exe") 
time.sleep(3)

In [11]:
url = 'https://www.olx.in/cars_c84'
driver.get(url)

In [12]:
urls=[]

In [14]:
for i in range(50):
    for j in driver.find_elements(By.XPATH,'//li[@class="_31j8e"]/a'):
        urls.append(j.get_attribute('href'))
    
btn=driver.find_element(By.XPATH,'//li[@class="_3OF2S"]/div')
btn.click()

In [15]:
len(urls)

2000

In [16]:
urls[1]

'https://www.olx.in/item/maruti-suzuki-alto-k10-vxi-2014-petrol-iid-1698157779'

In [17]:
brand =[]
year =[]
km=[]
fuel=[]
owners=[]
price=[]

In [20]:
for i in urls[:]:
    driver.get(i)
    time.sleep(1)
    
    try:
        brand_tags=driver.find_element(By.XPATH,'//div[@data-aut-id="itemTitle"]')
        brand.append(brand_tags.text.split('\n')[0][:-7])
    except NoSuchElementException:
        brand.append(" ")
      
           
    try:
        year_tags=driver.find_element(By.XPATH,'//div[@data-aut-id="itemTitle"]')
        year.append(year_tags.text.split('\n')[0][-5:-1])
    except NoSuchElementException:
        year.append(" ")
        
        
    try:
        km_tags=driver.find_element(By.XPATH,'//div[@class="aOxkz"]/div[2]/div')
        km.append(km_tags.text.split('\n')[0][:-3])
    except NoSuchElementException:
        km.append(" ")
        
        
    try:
        fuel_tags=driver.find_element(By.XPATH,'//div[@class="aOxkz"]/div[1]/div')
        fuel.append(fuel_tags.text)
    except NoSuchElementException:
        fuel.append(" ")
        
        
    try:
        owners_tags=driver.find_element(By.XPATH,'//div[@class="_1gasz"]')
        owners.append(owners_tags.text)
    except NoSuchElementException:
        owners.append(" ")
        
        
    try:
        price_tags=driver.find_element(By.XPATH,'//div[@data-aut-id="itemPrice"]')
        price.append(price_tags.text.split('\n')[0][2:].replace(',', ''))
    except NoSuchElementException:
        price.append(" ")

In [21]:
len(brand),len(year),len(km),len(fuel),len(owners),len(price)

(2250, 2250, 2250, 2250, 2250, 2250)

In [23]:
df=pd.DataFrame({'Brand' : brand,'Year':year,'KMT':km,'Fuel':fuel,'Owners':owners,'Price':price})
df

                       Brand  Year       KMT    Fuel Owners   Price
0               Skoda Superb  2010   86000.0  PETROL    3rd  295000
1     Maruti Suzuki Alto K10  2014   32000.0  PETROL    1st  320000
2            Volkswagen Polo  2014   74000.0  PETROL    1st  455000
3            Tata Indica Ev2  2007     30000  DIESEL  Third   75000
4                Tata Safari  2009     90000  DIESEL  Third  155555
...                      ...   ...       ...     ...    ...     ...
2245                 Audi A4  2011   91690.0  DIESEL    2nd  775000
2246   Hyundai Fluidic Verna  2016   60000.0  PETROL    1st  565000
2247           Hyundai Verna  2018   26000.0  PETROL    1st  945000
2248             Hyundai I10  2014   81352.0  PETROL     --  245000
2249  Maruti Suzuki Alto K10  2011  113222.0  PETROL     --  135000

[2250 rows x 6 columns]

In [24]:
df.to_csv('olx_car_data_prediction', index=False)